@import "../../app.scss";


.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

    .wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 70px;

      @include tablet{
        justify-content: flex-start;
        gap: 70px;
        max-width: 768px;
      }

      @include mobile{
        justify-content: center;
      }

      .navLeft{
        display: flex;
        align-items: center;
        

        .navLogo{
          width: 144.8px;
          height: 30px;
          margin-right: 168.2px;

          @include tablet{
            margin-right: 17px;

          }

          @include mobile{
            margin-right: 0;
            
          }
          
        }

  
      .search {
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        width: 400px;
        height: 40px;
        justify-content: space-between;
        border-radius: 0 6px 6px 0;

        @include tablet{
          border-radius: 0;
          width: 150px;

        }

        @include mobile{
          display: none;
        }

        
  
        input {
          border: none;
          outline: none;
          background: transparent;
          height: inherit;
          width: 22rem;
          padding-left: 20px;

          @include tablet{
            padding-left: 0;
            width: 150px;
            
  
          }
  
          &::placeholder {
            font-size: 14px;
            color: #545F7D;
            opacity: 0.7;
            
          }
          
        }

        .searchIcon {
          background-color: #39CDCC;
          padding-top: 8px;
          padding-bottom: 7px; 
          padding-left: 13px; 
          padding-right: 13px; 
          border-radius: inherit;
          cursor: pointer;

          @include tablet{
            border-radius: 0 6px 6px 0;
            
          }
          
          
        }
      }
    }
  
      .items {
        display: flex;
        align-items: center;

        .docs{
          font-family: 'Roboto';
          font-style: "normal"; 
          font-weight: 400; 
          font-size: "16px"; 
          text-decoration-line: "underline"; 
          color: #213F7D;
          margin-right: 47px;

          @include tablet{
            margin-right: 8px;
            margin-left: 5px;

          }

          @include mobile{
            display: none;
          }
        }


        .bellIcon{
          margin-right: 33.16px;
          cursor: pointer;
          .icon {
            font-size: 30px;
            color: #213F7D;

            @include tablet{
              margin-right: 0px;
    
            }

            @include mobile{
              display: none;
            }
          }
        }
  
        .imgItem {
          display: flex;
          align-items: center;
          margin-right: 10px;
          position: relative;
          cursor: pointer;
          
  
          .avatar {
            width: 48px;
            height: 50px;
            border-radius: 50%;
          }
  
        }
        .name {
          color: #213F7D;
          font-size: 16px;
          font-weight: 500;
          margin-right: 10.33px;
          cursor: pointer;

          @include tablet{
            display: none;

          }
        }

        .navDropDown{
          width: 7.34px;
          height: 4.15px;
          cursor: pointer;

          @include tablet{
            width: 24px;
          height: 10px;
          cursor: pointer;
          }
          
        }
        
      }
    }
  }
  